:root {
 --primary: #5e81f4;
 --dark: #1e1e1e;
 --light: #dddddd;
  --white: #ffffff;
  --black: #000000;
  --light-blue: #53a1da;
  --dark-blue: #1a73e8;
  --light-green: #a5d6a7;
  --dark-green: #388e3c;
  --dark-red: #d32f2f;
 --light-yellow: #fff9c4;
 --dark-yellow: #fbc02d;
 --grey: #e0e0e0;
 --dark-grey: #333333;
 --red: #e53935;
 --green: #00c853;
 --blue: #2196f3;
 --yellow: #ffca28;
 --sidebar-width: 300px;


 --business: #680404;
	--danger: #ff5b57;

	--shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

	--business-glow: 0px 0px 4px rgba(250, 253, 64, 0.75);
	--personal-glow: 0px 0px 4px rgba(95, 7, 129, 0.75);
}
* {
  margin : 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira sans", sans-serif;
}
body {
  background : var(--light);
  color: var(--dark);
}
button{
  cursor: pointer;
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

.app {
  display: flex;

}
.app main {
    flex: 1 1 0;
    padding: 2rem;
    @media (max-width: 768px) {
      padding-left: 6rem;
    }
  }